@font-face {
  font-family: "veev"; /* Project id 291740 */
  src: url('iconfont.woff2?t=1769581089863') format('woff2'),
       url('iconfont.woff?t=1769581089863') format('woff'),
       url('iconfont.ttf?t=1769581089863') format('truetype');
}

.veev {
  font-family: "veev" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.veev-dcr-perspective-color:before {
  content: "\e7f0";
}

.veev-dcr-movements-color:before {
  content: "\e7f1";
}

.veev-insights-outline:before {
  content: "\e7ef";
}

.veev-primary-button-solid:before {
  content: "\e7ed";
}

.veev-highlight-button-solid:before {
  content: "\e7ee";
}

.veev-suspend-solid:before {
  content: "\e7ec";
}

.veev-approval-summary-color:before {
  content: "\e7eb";
}

.veev-robot-color:before {
  content: "\e7e9";
}

.veev-book-color:before {
  content: "\e7ea";
}

.veev-magic-notes-color:before {
  content: "\e7e8";
}

.veev-accompany-solid:before {
  content: "\e7e7";
}

.veev-communication-solid:before {
  content: "\e7e2";
}

.veev-opening-solid:before {
  content: "\e7e3";
}

.veev-key-point-solid:before {
  content: "\e7e4";
}

.veev-target-solid:before {
  content: "\e7e5";
}

.veev-file-star-solid:before {
  content: "\e7e6";
}

.veev-line-chart-outline:before {
  content: "\e7df";
}

.veev-table-chart-outline:before {
  content: "\e7e0";
}

.veev-pie-chart-outline:before {
  content: "\e7e1";
}

.veev-magic-notes-outline:before {
  content: "\e7de";
}

.veev-unpin-outline:before {
  content: "\e7dc";
}

.veev-pin-outline:before {
  content: "\e7dd";
}

.veev-preview-solid:before {
  content: "\e7db";
}

.veev-locked:before {
  content: "\e7da";
}

.veev-xpages-outline:before {
  content: "\e7d9";
}

.veev-biaodashi-xianxing:before {
  content: "\e7d8";
}

.veev-percentage:before {
  content: "\e7d7";
}

.veev-empty-file-solid:before {
  content: "\e7d6";
}

.veev-xpages-solid:before {
  content: "\e7d5";
}

.veev-ai-solid:before {
  content: "\e7d4";
}

.veev-send-solid:before {
  content: "\e7d3";
}

.veev-account-plan-color:before {
  content: "\e7d2";
}

.veev-pushpin-solid:before {
  content: "\e7d0";
}

.veev-pushpin-outline:before {
  content: "\e7d1";
}

.veev-teamwork-council-event-solid:before {
  content: "\e7cf";
}

.veev-hospital-lisiting-color:before {
  content: "\e7ce";
}

.veev-expand-solid:before {
  content: "\e7cd";
}

.veev-new-session-outline:before {
  content: "\e7cc";
}

.veev-sample-solid:before {
  content: "\e7cb";
}

.veev-sample-color:before {
  content: "\e7ca";
}

.veev-secondary-meeting-outline:before {
  content: "\e7c9";
}

.veev-cancel-signature-outline:before {
  content: "\e7c8";
}

.veev-lamp-color:before {
  content: "\e7c6";
}

.veev-lamp-solid:before {
  content: "\e7c7";
}

.veev-signature-outline:before {
  content: "\e7c5";
}

.veev-attendance-reconciliation-solid:before {
  content: "\e7c4";
}

.veev-content-solid:before {
  content: "\e7c2";
}

.veev-channel-solid:before {
  content: "\e7c3";
}

.veev-create-target-solid:before {
  content: "\e7c0";
}

.veev-group-solid:before {
  content: "\e7c1";
}

.veev-match-professional-solid:before {
  content: "\e7bf";
}

.veev-magic-stick-solid:before {
  content: "\e7be";
}

.veev-circle-reset-solid:before {
  content: "\e7bd";
}

.veev-circle-add-solid:before {
  content: "\e7bc";
}

.veev-assist-meetting-outline:before {
  content: "\e7bb";
}

.veev-eye-open-outline:before {
  content: "\e7ba";
}

.veev-vc-config-solid:before {
  content: "\e7b9";
}

.veev-overview-outline:before {
  content: "\e7b8";
}

.veev-guide-edit-solid:before {
  content: "\e7b1";
}

.veev-guide-tab-solid:before {
  content: "\e7b2";
}

.veev-guide-overview-solid:before {
  content: "\e7b6";
}

.veev-guide-submit-solid:before {
  content: "\e7b7";
}

.veev-small-trumpet:before {
  content: "\e7b5";
}

.veev-surface-add-solid:before {
  content: "\e7b3";
}

.veev-surface-delete-solid:before {
  content: "\e7b4";
}

.veev-canhuicishutongji:before {
  content: "\e7b0";
}

.veev-todo-invalid-outline:before {
  content: "\e7af";
}

.veev-platform-solid:before {
  content: "\e7ae";
}

.veev-new-outline:before {
  content: "\e7ad";
}

.veev-reference-index-solid:before {
  content: "\e7ab";
}

.veev-event-solid:before {
  content: "\e7ac";
}

.veev-phone-solid:before {
  content: "\e7aa";
}

.veev-idea-solid:before {
  content: "\e7a8";
}

.veev-email-solid:before {
  content: "\e7a9";
}

.veev-layer-outline:before {
  content: "\e7a5";
}

.veev-first-page-outline:before {
  content: "\e7a6";
}

.veev-last-page-outline:before {
  content: "\e7a7";
}

.veev-more-function-outline:before {
  content: "\e7a4";
}

.veev-business-man-solid:before {
  content: "\e7a3";
}

.veev-call-completion-outline:before {
  content: "\e7a2";
}

.veev-sector-outline:before {
  content: "\e7a0";
}

.veev-company-outline:before {
  content: "\e7a1";
}

.veev-comment-outline:before {
  content: "\e79f";
}

.veev-drag-solid:before {
  content: "\e79e";
}

.veev-checkbox-outline:before {
  content: "\e79d";
}

.veev-relevance-outline:before {
  content: "\e79c";
}

.veev-electronic-document-border:before {
  content: "\e79b";
}

.veev-batch-create-call-outline:before {
  content: "\e79a";
}

.veev-hospital-solid:before {
  content: "\e792";
}

.veev-send-survey-outline:before {
  content: "\e799";
}

.veev-preview-disable-outline:before {
  content: "\e798";
}

.veev-weekly-view-outline:before {
  content: "\e796";
}

.veev-daily-view-outline:before {
  content: "\e797";
}

.veev-circle-delete-solid:before {
  content: "\e795";
}

.veev-finish-solid:before {
  content: "\e793";
}

.veev-call-solid:before {
  content: "\e794";
}

.veev-email-info-outline:before {
  content: "\e78b";
}

.veev-tel-outline:before {
  content: "\e791";
}

.veev-weekly-plan-solid:before {
  content: "\e790";
}

.veev-email-file:before {
  content: "\e78f";
}

.veev-zip-file:before {
  content: "\e78c";
}

.veev-video-file:before {
  content: "\e78d";
}

.veev-audio-file:before {
  content: "\e78e";
}

.veev-add-child:before {
  content: "\e78a";
}

.veev-attended-number-color:before {
  content: "\e789";
}

.veev-medical-association-color:before {
  content: "\e786";
}

.veev-medical-association-dcr-color:before {
  content: "\e787";
}

.veev-add-medical-association:before {
  content: "\e788";
}

.veev-email:before {
  content: "\e785";
}

.veev-attendance-details:before {
  content: "\e784";
}

.veev-exit-left:before {
  content: "\e783";
}

.veev-cancel-meeting:before {
  content: "\e782";
}

.veev-template:before {
  content: "\e781";
}

.veev-invitation:before {
  content: "\e780";
}

.veev-homepage-avatar-pure:before {
  content: "\e77e";
}

.veev-company-notice-color:before {
  content: "\e77f";
}

.veev-verification-code:before {
  content: "\e77d";
}

.veev-phone:before {
  content: "\e77c";
}

.veev-department:before {
  content: "\e77b";
}

.veev-doc-opened:before {
  content: "\e77a";
}

.veev-content-display:before {
  content: "\e779";
}

.veev-disabled-survey:before {
  content: "\e778";
}

.veev-service-account:before {
  content: "\e777";
}

.veev-rolled-back:before {
  content: "\e775";
}

.veev-suspended:before {
  content: "\e776";
}

.veev-data-sending-color:before {
  content: "\e774";
}

.veev-paint-disable:before {
  content: "\e772";
}

.veev-paint:before {
  content: "\e773";
}

.veev-popover-down:before {
  content: "\e770";
}

.veev-popover-up:before {
  content: "\e771";
}

.veev-reassign:before {
  content: "\e76f";
}

.veev-expand-all:before {
  content: "\e763";
}

.veev-collapse-all:before {
  content: "\e76e";
}

.veev-fuzzy-match:before {
  content: "\e760";
}

.veev-left-back:before {
  content: "\e768";
}

.veev-layout-section:before {
  content: "\e765";
}

.veev-quota-adjust:before {
  content: "\e751";
}

.veev-survey-solid:before {
  content: "\e75e";
}

.veev-continue:before {
  content: "\e75c";
}

.veev-update:before {
  content: "\e753";
}

.veev-sandbox-environment:before {
  content: "\e73b";
}

.veev-medical-inquiry-color:before {
  content: "\e749";
}

.veev-survey-color:before {
  content: "\e74e";
}

.veev-appeal-color:before {
  content: "\e74f";
}

.veev-custom-color:before {
  content: "\e750";
}

.veev-event-color:before {
  content: "\e752";
}

.veev-add-solid:before {
  content: "\e74d";
}

.veev-task-solid:before {
  content: "\e74a";
}

.veev-task-outline:before {
  content: "\e74b";
}

.veev-target-hcp-tag:before {
  content: "\e747";
}

.veev-bulletin:before {
  content: "\e74c";
}

.veev-homepage-avatar:before {
  content: "\e748";
}

.veev-fold:before {
  content: "\e73f";
}

.veev-unfold:before {
  content: "\e740";
}

.veev-home-solid:before {
  content: "\e741";
}

.veev-home-outline:before {
  content: "\e742";
}

.veev-dashbord-solid:before {
  content: "\e743";
}

.veev-dashbord-outline:before {
  content: "\e744";
}

.veev-calendar-outline:before {
  content: "\e745";
}

.veev-calendar-solid:before {
  content: "\e746";
}

.veev-quota-reject:before {
  content: "\e73a";
}

.veev-hospital-listing-color:before {
  content: "\e73d";
}

.veev-speaker-change-request-color:before {
  content: "\e73c";
}

.veev-product-color:before {
  content: "\e755";
}

.veev-call-color:before {
  content: "\e756";
}

.veev-speaker-color:before {
  content: "\e757";
}

.veev-tot-color:before {
  content: "\e758";
}

.veev-library-color:before {
  content: "\e759";
}

.veev-coaching-color:before {
  content: "\e75a";
}

.veev-dcr-color:before {
  content: "\e75b";
}

.veev-clinical-project-color:before {
  content: "\e75d";
}

.veev-road-plan-color:before {
  content: "\e75f";
}

.veev-custom3-color:before {
  content: "\e761";
}

.veev-target-prof-color:before {
  content: "\e762";
}

.veev-custom2-color:before {
  content: "\e764";
}

.veev-custom4-color:before {
  content: "\e766";
}

.veev-general-color:before {
  content: "\e767";
}

.veev-professional-color:before {
  content: "\e769";
}

.veev-ext-contact-color:before {
  content: "\e76a";
}

.veev-weekly-plan-color:before {
  content: "\e76b";
}

.veev-hospital-color:before {
  content: "\e76c";
}

.veev-saletarget-color:before {
  content: "\e76d";
}

.veev-saving:before {
  content: "\e754";
}

.veev-more-line:before {
  content: "\e73e";
}

.veev-cancel-sign-in:before {
  content: "\e739";
}

.veev-section:before {
  content: "\e738";
}

.veev-save-reject:before {
  content: "\e737";
}

.veev-language:before {
  content: "\e736";
}

.veev-view-report:before {
  content: "\e735";
}

.veev-close-event:before {
  content: "\e734";
}

.veev-intelligent-recognition:before {
  content: "\e733";
}

.veev-list-jump:before {
  content: "\e732";
}

.veev-calculate-attendee-validity:before {
  content: "\e731";
}

.veev-sign-in-attendee:before {
  content: "\e730";
}

.veev-batch-copy-save:before {
  content: "\e72f";
}

.veev-workday:before {
  content: "\e72d";
}

.veev-download:before {
  content: "\e72c";
}

.veev-holiday:before {
  content: "\e72e";
}

.veev-save:before {
  content: "\e72b";
}

.veev-default:before {
  content: "\e72a";
}

.veev-minus:before {
  content: "\e729";
}

.veev-exchange:before {
  content: "\e603";
}

.veev-mccp-dcr:before {
  content: "\e728";
}

.veev-reading:before {
  content: "\e71b";
}

.veev-professional-facet:before {
  content: "\e727";
}

.veev-user-facet:before {
  content: "\e71c";
}

.veev-recycle:before {
  content: "\e71d";
}

.veev-release-control:before {
  content: "\e71e";
}

.veev-calling:before {
  content: "\e71f";
}

.veev-hang-up-facet:before {
  content: "\e720";
}

.veev-start-detailing:before {
  content: "\e721";
}

.veev-video-detailing:before {
  content: "\e722";
}

.veev-detailing:before {
  content: "\e723";
}

.veev-audio-detailing:before {
  content: "\e724";
}

.veev-shut-down:before {
  content: "\e725";
}

.veev-minimize:before {
  content: "\e726";
}

.veev-cancel-target-professional:before {
  content: "\e71a";
}

.veev-knowledge:before {
  content: "\e715";
}

.veev-group:before {
  content: "\e716";
}

.veev-cooperation:before {
  content: "\e717";
}

.veev-connection:before {
  content: "\e718";
}

.veev-work:before {
  content: "\e719";
}

.veev-erase-solid:before {
  content: "\e713";
}

.veev-maintenance-history:before {
  content: "\e714";
}

.veev-batch-reject:before {
  content: "\e711";
}

.veev-rejection-cancel:before {
  content: "\e712";
}

.veev-erase:before {
  content: "\e710";
}

.veev-ban:before {
  content: "\e70f";
}

.veev-unlock:before {
  content: "\e70d";
}

.veev-lock:before {
  content: "\e70e";
}

.veev-participant-collection:before {
  content: "\e70c";
}

.veev-serial-event:before {
  content: "\e70a";
}

.veev-clean:before {
  content: "\e70b";
}

.veev-draft-box:before {
  content: "\e709";
}

.veev-approval-pending-words:before {
  content: "\e708";
}

.veev-binding:before {
  content: "\e707";
}

.veev-copy:before {
  content: "\e706";
}

.veev-external-contact-management:before {
  content: "\e705";
}

.veev-time:before {
  content: "\e704";
}

.veev-setup:before {
  content: "\e701";
}

.veev-turn-right:before {
  content: "\e702";
}

.veev-turn-left:before {
  content: "\e703";
}

.veev-common-speaker:before {
  content: "\e6ff";
}

.veev-set-common-speaker:before {
  content: "\e700";
}

.veev-mccp:before {
  content: "\e6fe";
}

.veev-synchronize-application-phase-attendee:before {
  content: "\e6fd";
}

.veev-process-suspend:before {
  content: "\e6fc";
}

.veev-suspend:before {
  content: "\e6fa";
}

.veev-resume:before {
  content: "\e6fb";
}

.veev-switch-file-format:before {
  content: "\e6f9";
}

.veev-expense-manage:before {
  content: "\e6f8";
}

.veev-rule-detail:before {
  content: "\e6f6";
}

.veev-configure:before {
  content: "\e6f7";
}

.veev-teamwork-contributor:before {
  content: "\e6f5";
}

.veev-cosign:before {
  content: "\e6f3";
}

.veev-hospital-listing-dcr:before {
  content: "\e6f4";
}

.veev-electronic-document-sending-request:before {
  content: "\e6f2";
}

.veev-approval-invalidation:before {
  content: "\e6f1";
}

.veev-teamwork-council-event:before {
  content: "\e6ed";
}

.veev-teamwork-council-event-dcr:before {
  content: "\e6ee";
}

.veev-hospital-council-event-dcr:before {
  content: "\e6ef";
}

.veev-hospital-council-event:before {
  content: "\e6f0";
}

.veev-transfer-out-solid:before {
  content: "\e6ec";
}

.veev-eye-open:before {
  content: "\e6ea";
}

.veev-eye-close:before {
  content: "\e6eb";
}

.veev-list-cancel:before {
  content: "\e6e8";
}

.veev-list-confirm:before {
  content: "\e6e9";
}

.veev-link:before {
  content: "\e6e5";
}

.veev-password:before {
  content: "\e6df";
}

.veev-switch:before {
  content: "\e6dd";
}

.veev-report-solid:before {
  content: "\e6ca";
}

.veev-edit-solid:before {
  content: "\e6d0";
}

.veev-more-solid:before {
  content: "\e6d3";
}

.veev-filter-solid:before {
  content: "\e6d7";
}

.veev-delete-solid:before {
  content: "\e6d8";
}

.veev-copy-solid:before {
  content: "\e6d9";
}

.veev-view-solid:before {
  content: "\e6db";
}

.veev-select-solid:before {
  content: "\e6dc";
}

.veev-part-selected:before {
  content: "\e6c4";
}

.veev-document:before {
  content: "\e6c0";
}

.veev-review:before {
  content: "\e6e7";
}

.veev-number:before {
  content: "\e6bd";
}

.veev-longtext:before {
  content: "\e6b8";
}

.veev-text:before {
  content: "\e6bc";
}

.veev-checkbox:before {
  content: "\e6e6";
}

.veev-radio:before {
  content: "\e6e4";
}

.veev-online-move:before {
  content: "\e6e3";
}

.veev-warning:before {
  content: "\e6b7";
}

.veev-mobile-move:before {
  content: "\e6e2";
}

.veev-back-home:before {
  content: "\e621";
}

.veev-spinner:before {
  content: "\ebfe";
}

.veev-history:before {
  content: "\e6e1";
}

.veev-hospital-metrics:before {
  content: "\e6e0";
}

.veev-QRcode:before {
  content: "\e6b4";
}

.veev-refresh:before {
  content: "\e6de";
}

.veev-location:before {
  content: "\e618";
}

.veev-ext-contact:before {
  content: "\e6da";
}

.veev-hamburger:before {
  content: "\e6d6";
}

.veev-calendar-finished:before {
  content: "\e6b3";
}

.veev-coacher:before {
  content: "\e6d5";
}

.veev-mobile:before {
  content: "\e6d4";
}

.veev-pc:before {
  content: "\e6d2";
}

.veev-change-location:before {
  content: "\e6d1";
}

.veev-input:before {
  content: "\e6cf";
}

.veev-screenshot:before {
  content: "\e6ce";
}

.veev-notice:before {
  content: "\e6cd";
}

.veev-electronic-learning:before {
  content: "\e6cc";
}

.veev-main-speaker:before {
  content: "\e6cb";
}

.veev-next-page:before {
  content: "\e6c8";
}

.veev-previous-page:before {
  content: "\e6c9";
}

.veev-nrdl:before {
  content: "\e6c7";
}

.veev-agent-staff:before {
  content: "\e6c5";
}

.veev-dealer-staff:before {
  content: "\e6c6";
}

.veev-agent:before {
  content: "\e6c3";
}

.veev-dealer:before {
  content: "\e6c2";
}

.veev-exit-full-screen:before {
  content: "\e6b0";
}

.veev-circle-play:before {
  content: "\e6af";
}

.veev-full-screen:before {
  content: "\e6a9";
}

.veev-common-doc:before {
  content: "\e6a6";
}

.veev-pic-set:before {
  content: "\e6a7";
}

.veev-task-list-unselected:before {
  content: "\e6a0";
}

.veev-task-list-selected:before {
  content: "\e6a5";
}

.veev-hang-up:before {
  content: "\e6c1";
}

.veev-video-off:before {
  content: "\e6be";
}

.veev-muted:before {
  content: "\e6bf";
}

.veev-audio:before {
  content: "\e6b9";
}

.veev-video:before {
  content: "\e6ba";
}

.veev-share:before {
  content: "\e6bb";
}

.veev-agenda-finished:before {
  content: "\e6b6";
}

.veev-library:before {
  content: "\e69b";
}

.veev-match-professional:before {
  content: "\e699";
}

.veev-coaching-coverd:before {
  content: "\e697";
}

.veev-custom-frequency:before {
  content: "\e6b5";
}

.veev-customer-coverage:before {
  content: "\e6b2";
}

.veev-teamwork:before {
  content: "\e6b1";
}

.veev-add-tag:before {
  content: "\e692";
}

.veev-set-top:before {
  content: "\e6ae";
}

.veev-map-mode:before {
  content: "\e6ad";
}

.veev-other:before {
  content: "\e6ac";
}

.veev-hospital-listing:before {
  content: "\e691";
}

.veev-close:before {
  content: "\e6ab";
}

.veev-reminder:before {
  content: "\e6aa";
}

.veev-ticket:before {
  content: "\e6a8";
}

.veev-full-list:before {
  content: "\e68f";
}

.veev-short-list:before {
  content: "\e688";
}

.veev-sort-asc:before {
  content: "\e689";
}

.veev-sort-desc:before {
  content: "\e68a";
}

.veev-sort:before {
  content: "\e68c";
}

.veev-weekly-plan-entry:before {
  content: "\e6a4";
}

.veev-road-plan:before {
  content: "\e6a3";
}

.veev-execute:before {
  content: "\e6a2";
}

.veev-weixin:before {
  content: "\e683";
}

.veev-corner-marker:before {
  content: "\e682";
}

.veev-work-weixin:before {
  content: "\e680";
}

.veev-clinical-project:before {
  content: "\e6a1";
}

.veev-hollow-star:before {
  content: "\e69f";
}

.veev-voice:before {
  content: "\e67b";
}

.veev-down-expend:before {
  content: "\e67a";
}

.veev-three-dot:before {
  content: "\e679";
}

.veev-rotate:before {
  content: "\e69e";
}

.veev-zoom-in:before {
  content: "\e69c";
}

.veev-zoom-out:before {
  content: "\e69d";
}

.veev-circle-wrong:before {
  content: "\e675";
}

.veev-circle-alert:before {
  content: "\e676";
}

.veev-circle-correct:before {
  content: "\e677";
}

.veev-preview-transfer:before {
  content: "\e69a";
}

.veev-sales-forecast:before {
  content: "\e698";
}

.veev-daily-report:before {
  content: "\e696";
}

.veev-clone:before {
  content: "\e695";
}

.veev-territory-map:before {
  content: "\e694";
}

.veev-signed:before {
  content: "\e693";
}

.veev-pharmacy-staff:before {
  content: "\e690";
}

.veev-pharmacy:before {
  content: "\e68e";
}

.veev-highlight-placeholder:before {
  content: "\e68d";
}

.veev-remove:before {
  content: "\e68b";
}

.veev-navigate:before {
  content: "\e687";
}

.veev-current-location:before {
  content: "\e686";
}

.veev-create-staff:before {
  content: "\e685";
}

.veev-call-track:before {
  content: "\e684";
}

.veev-apply-feedback:before {
  content: "\e681";
}

.veev-apply-add:before {
  content: "\e67f";
}

.veev-withdraw:before {
  content: "\e67e";
}

.veev-state-withdrawn:before {
  content: "\e67d";
}

.veev-budget:before {
  content: "\e67c";
}

.veev-own-expense:before {
  content: "\e601";
}

.veev-sub-event:before {
  content: "\e678";
}

.veev-collapse:before {
  content: "\e66d";
}

.veev-expend:before {
  content: "\e672";
}

.veev-toast-info:before {
  content: "\e674";
}

.veev-toast-error:before {
  content: "\e673";
}

.veev-cancel:before {
  content: "\e66a";
}

.veev-search:before {
  content: "\e669";
}

.veev-action-passed:before {
  content: "\e667";
}

.veev-action-rejected:before {
  content: "\e668";
}

.veev-toast-success:before {
  content: "\e671";
}

.veev-approval-approved:before {
  content: "\e666";
}

.veev-unfinished:before {
  content: "\e65e";
}

.veev-completed:before {
  content: "\e65f";
}

.veev-approval-pending:before {
  content: "\e660";
}

.veev-approval:before {
  content: "\e661";
}

.veev-state-passed:before {
  content: "\e662";
}

.veev-state-pending:before {
  content: "\e664";
}

.veev-state-rejected:before {
  content: "\e665";
}

.veev-search-add:before {
  content: "\e65b";
}

.veev-weekly-plan:before {
  content: "\e656";
}

.veev-picture:before {
  content: "\e65a";
}

.veev-camera:before {
  content: "\e670";
}

.veev-spot-check:before {
  content: "\e66f";
}

.veev-user:before {
  content: "\e66e";
}

.veev-cover-print:before {
  content: "\e66c";
}

.veev-help:before {
  content: "\e66b";
}

.veev-medical-inquiry:before {
  content: "\e659";
}

.veev-survey:before {
  content: "\e658";
}

.veev-generate-report:before {
  content: "\e657";
}

.veev-left:before {
  content: "\e654";
}

.veev-down:before {
  content: "\e655";
}

.veev-more:before {
  content: "\e652";
}

.veev-save-back:before {
  content: "\e663";
}

.veev-select-arrow:before {
  content: "\e65d";
}

.veev-speaker:before {
  content: "\e651";
}

.veev-sales-data-management:before {
  content: "\e63e";
}

.veev-acceptance:before {
  content: "\e63d";
}

.veev-appeal:before {
  content: "\e65c";
}

.veev-sales-data:before {
  content: "\e64f";
}

.veev-calendar:before {
  content: "\e653";
}

.veev-exist-version:before {
  content: "\e64e";
}

.veev-sales-mark:before {
  content: "\e650";
}

.veev-edit:before {
  content: "\e64d";
}

.veev-manager:before {
  content: "\e64c";
}

.veev-host:before {
  content: "\e64b";
}

.veev-search-option:before {
  content: "\e64a";
}

.veev-save-complete:before {
  content: "\e649";
}

.veev-suggestion:before {
  content: "\e63a";
}

.veev-pristine:before {
  content: "\e648";
}

.veev-save-submit:before {
  content: "\e647";
}

.veev-thumb:before {
  content: "\e646";
}

.veev-request-switch:before {
  content: "\e645";
}

.veev-tot:before {
  content: "\e644";
}

.veev-speaker-change-request:before {
  content: "\e642";
}

.veev-new-speaker:before {
  content: "\e643";
}

.veev-corner-new:before {
  content: "\e62f";
}

.veev-corner-edit:before {
  content: "\e630";
}

.veev-corner-delete:before {
  content: "\e637";
}

.veev-add-prof:before {
  content: "\e641";
}

.veev-call-amount-orange:before {
  content: "\e640";
}

.veev-target-prof:before {
  content: "\e63f";
}

.veev-last-coach:before {
  content: "\e63c";
}

.veev-filter:before {
  content: "\e63b";
}

.veev-call-amount:before {
  content: "\e639";
}

.veev-thumbs-up:before {
  content: "\e635";
}

.veev-message:before {
  content: "\e636";
}

.veev-quit:before {
  content: "\e638";
}

.veev-at:before {
  content: "\e632";
}

.veev-transfer:before {
  content: "\e633";
}

.veev-send:before {
  content: "\e634";
}

.veev-complex-list:before {
  content: "\e631";
}

.veev-setting-hover:before {
  content: "\e62e";
}

.veev-setting:before {
  content: "\e62d";
}

.veev-levels:before {
  content: "\e62c";
}

.veev-behavior-manage:before {
  content: "\e62b";
}

.veev-right-back:before {
  content: "\e62a";
}

.veev-delete:before {
  content: "\e629";
}

.veev-corner-unregister:before {
  content: "\e626";
}

.veev-star:before {
  content: "\e628";
}

.veev-attendee:before {
  content: "\e627";
}

.veev-other-file:before {
  content: "\e622";
}

.veev-play:before {
  content: "\e625";
}

.veev-video-upload:before {
  content: "\e624";
}

.veev-select-all:before {
  content: "\e623";
}

.veev-confirm:before {
  content: "\e61c";
}

.veev-right:before {
  content: "\e61a";
}

.veev-add:before {
  content: "\e619";
}

.veev-up:before {
  content: "\e61b";
}

.veev-ppt:before {
  content: "\e61d";
}

.veev-excel:before {
  content: "\e61e";
}

.veev-word:before {
  content: "\e61f";
}

.veev-pdf:before {
  content: "\e620";
}

.veev-task:before {
  content: "\e617";
}

.veev-kanban:before {
  content: "\e613";
}

.veev-main:before {
  content: "\e612";
}

.veev-agenda:before {
  content: "\e616";
}

.veev-account:before {
  content: "\e614";
}

.veev-operation-m:before {
  content: "\e615";
}

.veev-coaching:before {
  content: "\e611";
}

.veev-event:before {
  content: "\e610";
}

.veev-hospital:before {
  content: "\e60e";
}

.veev-dcr:before {
  content: "\e60f";
}

.veev-saletarget:before {
  content: "\e60d";
}

.veev-product:before {
  content: "\e608";
}

.veev-tthdata:before {
  content: "\e609";
}

.veev-call:before {
  content: "\e60a";
}

.veev-professional:before {
  content: "\e605";
}

